
body{
    text-align: center;
    background: #DDDDDD;
    font-size: 20px;
    list-style: none;
    align-items: center;
}
.title{
    font-size: 40px;
    background-color: black;
    color: white;
}
#number{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 30px;
}
#roll_number{
    outline: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: 	#BBBBBB;
}


